.backgroundRoboczeDoUsuniecia {
  background-color: var(--light-grey);
  padding: 50px;
}

p {
  margin: 0;
  box-sizing: border-box;
  margin: 0px;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.bar {
  border-radius: 20px;
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: var(--white);
  margin: 0 auto;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.04em;
  box-shadow: 0 10px 60px 0 rgba(170, 178, 197, 0.2);
  background: #fff;
}
@media (min-width: 768px) {
  .bar {
    border-radius: 30px;
    width: 704px;
  }
}
@media (min-width: 1280px) {
  .bar {
    width: 1034px;
  }
}

.textExpense {
  color: var(--red);
  padding: 0 15px 0 15px;
}

.textIncome {
  color: var(--green);
  padding: 0 15px 0 15px;
}
