.backgroundRoboczeDoUsuniecia {
  background-color: var(--light-grey);
  padding: 50px;
}
.box{
  width:320px;
  box-shadow: 0 10px 60px 0 rgba(170, 178, 197, 0.2);
    background: #fff;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
}
.icons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 13px;
    row-gap: 41px;
}
.div_svg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  position: relative;
  width: 84px;
  height: 122px;
}
.div_background_svg{
  position: absolute;
  z-index: 1;
  background-color: #F5F6FB;
  margin-top: 10px;
  border-radius: 20px;
  width: 59px;
  height: 46px;
}
.svg{
  width:56px;
  height: 56px;
  position: relative;
  z-index: 2;
}
.div_svg:hover .div_background_svg {
  background-color: #FFDAC0; 
}
.div_svg:hover .svg {
  fill:#FF751D;  
}
.line{
  width:280px;
  height: 1px;
  background-color: #E0E5EB;
}
@media (min-width: 768px) {
  .box {
    width: 704px;
    height: 348px;
  }
  .icons{
    width: 623px;
    height: 268px;
    column-gap:33px;
    row-gap: 40px;
  }
  .div_svg{
    width: 73px;
    height: 106px;
  }
  .line{
    display: none;
  }
}
@media (min-width: 1280px) {
  .box {
    width: 1034px;
    height: 348px;
    padding:40px;
  }
  .line{
    display: none;
  }
}

